

<div class="row" style="padding-top: 10%; background-color: rgb(230, 230, 12); height: 100%;">
  <div class="col-md-6 offset-md-3 text-center">
    <mat-card class="text-center">
     
        
         <div class="my-3">
          <strong>Apply For Leave : </strong>
          <button mat-mini-fab mat-raised-button color="accent" type="button" routerLink="/applylive" aria-label="Example icon button with a plus one icon">
              <mat-icon>add</mat-icon>
              
            </button>
         </div>
      <mat-card-footer class="my-2">
        

          <button mat-raised-button color="accent" type="button" routerLink="/userdata">UserData</button>
        
      </mat-card-footer>
     </mat-card>
     
  </div>
  <div class="col-md-12 mt-1">
    <app-count></app-count>
  </div>
</div>
 
