
<strong>apply for leave : </strong>
<button mat-mini-fab mat-raised-button color="accent" type="button" routerLink="/applylive" aria-label="Example icon button with a plus one icon">
    <mat-icon>add</mat-icon>
    
  </button>

  <div class="row">
   <div class="col-12">
    <mat-card class="text-center">
        
        <div class="col-4 offset-md-4">
          <button mat-raised-button color="primary" type="button" routerLink="/hodlogin">to hod </button>
          <button mat-raised-button color="primary" type="button" routerLink="/userdata">userdata</button>
            <p>
              this is total leaves: <strong>{{totalcount}}</strong> 
            </p>
            <p>
            this is approve leaves count :<strong>{{approvecount}}</strong>    
            </p>
            <p>
                this is reject leaves count :<strong>{{rejectcount}}</strong> 
            </p>
        </div>
    </mat-card>
   </div>
</div>
