

<div class="row" style="padding-top: 10%; background-color: aqua; height: 100vh;">
  <div class="col-md-6 offset-md-3 text-center">
    <mat-card class="text-center">
     
        
         <div class="my-3">
          <strong>Apply For Leave : </strong>
          <button mat-mini-fab mat-raised-button color="accent" type="button" routerLink="/applylive" aria-label="Example icon button with a plus one icon">
              <mat-icon>add</mat-icon>
              
            </button>
         </div>
        
      
      <mat-card-content class="text-center">
               
              <p>
                This Is Total Leaves: <strong>{{totalcount}}</strong> 
              </p>
              <p>
              This Is Approve Leaves Count :<strong>{{approvecount}}</strong>    
              </p>
              <p>
                  This Is Reject Leaves Count :<strong>{{rejectcount}}</strong> 
              </p>
      
      </mat-card-content>
      <mat-card-footer>
        <div class="d-flex justify-content-between p-4">
          <button mat-raised-button color="primary" type="button" routerLink="/hodlogin">To Hod </button>
          <button mat-raised-button color="accent" type="button" routerLink="/userdata">UserData</button>
         </div>
      </mat-card-footer>
     </mat-card>
  </div>
</div>
 
