<div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
       <div class="table">
       <thead>
        <tr>
           
            <th>username</th>
            <th>lname</th>
            <th>mo number</th>
            <th>status</th>
           </tr>
       </thead>
       <tbody  *ngFor="let obj of objsof">
        <tr>
           
            <td>{{obj.username}}</td>
            <td>{{obj.Lname}}</td>
            <td>{{obj.contact}}</td>
            <td>{{obj.status}}</td>
        </tr>
       </tbody>
       </div>
      </div>
    </div>
  </div>