

<div class="row">
    <div class="col-md-3" *ngFor="let objs of objsarray">
        <div class="card my-2"> 
            
            <p>{{objs.fName}}</p> 
               <p>leave from :{{objs.startDate |date}}</p> to <p> :{{objs.endDate |date}}</p>
             <p>reason : {{objs.reason}}</p>
            
             <p>number of days : {{objs.numberOfdays}}</p>
            
            <div class="d-flex justify-content-between m-2">
               
                <button mat-raised-button color="accent" *ngIf="objs.isApproved==false" (click)="isreject(objs)" type="button">reject</button>
            <button mat-raised-button color="primary" type="button" *ngIf="objs.isRejected==false"
             (click)="isaccept(objs)">Accept</button>
            </div>
            
           </div>
    </div>
</div>





