<div class="row" style="padding-top: 10%;">
    <div class="col-md-6 offset-md-3">
     <mat-card class="text-center">
         
         <div class="col-4 offset-md-4">
           <button mat-raised-button color="primary" type="button" routerLink="/hodlogin">to hod </button>
             <p>
               this is total leaves: <strong>{{totalcount}}</strong> 
             </p>
             <p>
             this is approve leaves count :<strong>{{approvecount}}</strong>    
             </p>
             <p>
                 this is reject leaves count :<strong>{{rejectcount}}</strong> 
             </p>
         </div>
     </mat-card>
    </div>
 </div>